body {
  background-color: #e0f2ff !important;
}

.orden {
  display: flex !important;
  margin-bottom: 10% !important;
}
.listado {
  padding: 10px;
  background-color: #65bfff;
  border-radius: 5px;
  width: 25%;
}
.desarrollo {
  margin-left: 5%;
  padding: 10px;
  background-color: #a4a6a8;
  border-radius: 5px;
  width: 75%;
}

@media screen and (max-width: 768px) {

  .listado {
      width: 100%;
  }

  .desarrollo {
      width: 100%;
  }

  .desarrollo {
      border-left: none;
  }

}
ul{
    list-style: none;
    padding-left: none;
}

h1 {
  color: #003366 !important;
  font-family: Arial, sans-serif !important;
}

.separador {
  color: #666666 !important;
  font-family: Verdana, sans-serif !important;
  list-style: none !important;
}

a {
  color: #ffffff !important;
  text-decoration: underline !important;
}

a:visited {
  color: #05305b !important;
  text-decoration: none !important;
}

a:active {
  color: #99ffff !important;
  text-decoration: none !important;
}

a:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}

